<!-- src/app/components/home/home.component.html -->
<div class="container">
    <h2>Page Responsable</h2>
    <button class="btn btn-primary" (click)="navigateToPage('article')">Gestion des articles</button>
    <button class="btn btn-primary" (click)="navigateToPage('client')">Gestion des clients</button>
    <button class="btn btn-primary" (click)="navigateToPage('reclamation')">Gestion des Reclamation</button>
    <button class="btn btn-primary" (click)="navigateToPage('pieces-recharge')">Gestion des pièces de recharge</button>
    <button class="btn btn-primary" (click)="navigateToPage('technicien')">Gestion des techniciens</button>
    <button class="btn btn-primary" (click)="navigateToPage('intervention')">Gestion des interventions</button>
  </div>
  