<div class="container">
  <h2>Liste des Clients</h2>
  <ul class="list-group">
    <li *ngFor="let client of clients" class="list-group-item">
      {{ client.firstName }} {{ client.lastName }} - {{ client.userName }}
      <button class="btn btn-info btn-sm float-right" (click)="selectClient(client)">
        Modifier
      </button>
    </li>
  </ul>

  <!-- Formulaire d'ajout de client -->
  <form (ngSubmit)="addClient()">
    <h3>Ajouter un Client</h3>
    <div class="form-group">
      <label for="firstName">Prénom</label>
      <input
        type="text"
        [(ngModel)]="newClient.firstName"
        class="form-control"
        id="firstName"
        name="firstName"
        required
      />
    </div>
    <div class="form-group">
      <label for="lastName">Nom</label>
      <input
        type="text"
        [(ngModel)]="newClient.lastName"
        class="form-control"
        id="lastName"
        name="lastName"
        required
      />
    </div>
    <div class="form-group">
      <label for="userName">Nom d'utilisateur</label>
      <input
        type="text"
        [(ngModel)]="newClient.userName"
        class="form-control"
        id="userName"
        name="userName"
        required
      />
    </div>
    <div class="form-group">
      <label for="password">Mot De Passe</label>
      <input
        type="text"
        [(ngModel)]="newClient.password"
        class="form-control"
        id="password"
        name="password"
        required
      />
    </div>
    <button type="submit" class="btn btn-primary mt-2">Ajouter</button>
  </form>

  <!-- Formulaire de mise à jour de client -->
  <form *ngIf="selectedClient" (ngSubmit)="updateClient()">
    <h3>Mettre à jour le Client</h3>
    <div class="form-group">
      <label for="firstName">Prénom</label>
      <input
        type="text"
        [(ngModel)]="selectedClient.firstName"
        class="form-control"
        id="firstName"
        name="firstName"
        required
      />
    </div>
    <div class="form-group">
      <label for="lastName">Nom</label>
      <input
        type="text"
        [(ngModel)]="selectedClient.lastName"
        class="form-control"
        id="lastName"
        name="lastName"
        required
      />
    </div>
    <div class="form-group">
      <label for="userName">Nom d'utilisateur</label>
      <input
        type="text"
        [(ngModel)]="selectedClient.userName"
        class="form-control"
        id="userName"
        name="userName"
        required
      />
    </div>
    <button type="submit" class="btn btn-success mt-2">Mettre à jour</button>
    <button type="button" class="btn btn-secondary mt-2" (click)="selectedClient = null">Annuler</button>
  </form>
</div>
